includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5

    paths:
        - src

    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
